html{
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0; 
}
body { 
	margin: 0 auto;
}

#banner {
	text-align: center;
}

#question {
	font-family: 'Jua', sans-serif;
	font-size: 40px;
	text-align: center;
	width: 320px;
	height: 250px;
	margin: 5px auto;
	padding: 25px;
	background-color: #eeccff;
	border-radius: 1em;
}
.post-wrapper{
	background-color: #f5e6fd;
	border-radius: 0.5em;
	height: 250px;
	    display: table-cell;
    vertical-align: middle;
}
.post{
	padding: 25px;
}
#answer {
	padding: 25px;
	text-align: center;
}
#answer button { 
	width: 250px; 
	font-size: 30px; 
	border : none;
	border-radius: 2em;
	color:white; 
	background-color: #29B6F6; 
	margin-bottom: 10px; 
	padding: 10px; 
	font-family: 'Jua', sans-serif;
}

#answer button:hover { 
	background-color: white; 
	color: skyblue; 
	font-family: 'Jua', sans-serif;
}

footer { 
	font-size: 20px;
	text-align: center; 
	font-family: 'Jua', sans-serif;
}
