html{
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0; 
}
body { 
	margin: 0 auto;
}

#banner {
	text-align: center;
}

#question {
	font-family: 'Jua', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
}
#answer {
	text-align: center;
}
#answer button { 
	width: 250px; 
	font-size: 30px; 
	border : none;
	border-radius: 2em;
	color:white; 
	background-color: #29B6F6; 
	margin-bottom: 10px; 
	padding: 10px; 
	font-family: 'Jua', sans-serif;
}

#answer button:hover { 
	background-color: white; 
	color: skyblue; 
	font-family: 'Jua', sans-serif;
}
